.dda-logo {
	height:200px;
}

.dda-contacts-box {
	position: absolute;
	left:0px;
	right:0px;
}

.dda-contacts {
	padding:40px;
	color:white;
  text-align:left;
}
.dda-contacts a:link, .dda-contacts a:visited {
	color:white;
}

.dda-portrait {
	margin-bottom: 5px;
}

h1 {
	font-family: "PT Sans";
}

.equal, .equal > div[class*='col-'] {  
    display: -webkit-flex;
    display: flex;
    flex:1 1 auto;
}

.top15 { margin-top:15px; }

body {
     margin: 0;
     /*background: url("../img/foninsh.jpg") repeat;*/
     background-color: #244B82;
}

body > .container {
  background-color: #1B75BB;
  background-clip:content-box;
}
.tab-pane {
  margin:0;
}

.nav {
  list-style-type:none;
  margin-top:-15px;
  text-transform: uppercase;
  background-color: #202F5F;
  /* transparentais img*/
  /* background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNg8AEAAE8ATQl3kQIAAAAASUVORK5CYII=);*/
}
.nav>li {
  display:inline-block;
  padding: 6px;
}
.nav>li+li {
  border-left: 1px solid #DDD4CF;
  /*border-left: 1px solid #1B75BB;*/
}
.nav>li>a{
  display:inline;
  /*color:#1B75BB;*/
  color:white;
  font-size: 20px;
  padding:0px 20px 20px;
}
.nav>li>a:focus, .nav>li>a:hover{
  background-color: transparent;
  text-decoration: underline;
}

 /* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #202F5F;
  padding:10px;
}